body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: radial-gradient(circle, #fff 20%, #ddd);
}

.container {
    margin-top: 50px;
}

button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#items-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#level-bar-container {
    margin-top: 20px;
}
